#body {
    width: fit-content;
}

#display-current,#display-previous {
    text-align: right;
    background-color: rgb(240, 240, 240);
    padding: 5px;
}

#display-previous {
    font-size: 18px;
}

#display-current {
    border-style: solid;
    border-color: burlywood;
    border-width: 5px;
    font-size: 32px;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 10px;
    margin-top: 10px;
}

#reset,#run-calculation {
    border-style: solid;
    border-color: rgb(85, 85, 85);
    border-width: 2px;
    border-radius: 5px;
}

#reset {
    background-color: red;
    color: white;
    align-self: stretch;
}

#keypad {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: stretch;
    justify-content: stretch;
    gap: 5px;
}

.buttons-column {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 5px;
}

button {
    min-width: 50px;
}

#run-calculation {
    background-color: yellow;
    color: black;
}